---
layout: page
permalink: /archive/
navigation: True
cover: 'assets/images/home-cover.jpg'
logo: assets/images/home.png
---

<!-- The big featured header  -->
<header class="main-header {% if page.cover %}"
        style="background-image: url({{ site.baseurl }}{{ page.cover }}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %}
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
</header>

<h1>Archive</h1>

{% for post in site.posts %}

<div>
  <span class='post-conent'>
    <a href="{{ site.path }}{{ post.url }}">
        {{ post.title }}, {{ post.date | date_to_string }}
    </a>

  </span>
</div>

{% endfor %}

page.navigation: {% page.navigation %}
