<!-- [[! Styles'n'Scripts ]] -->
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/screen.css" />
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}assets/css/syntax.css" />
<!-- <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" /> -->
<link rel="stylesheet" type="text/css" href="http://fonts.useso.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400" />
<!-- <link href='http://fonts.useso.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet'> -->

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}assets/js/jquery.fitvids.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}assets/js/index.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}assets/css/styles/monokai-sublime.css">
<script type="text/javascript" src="{{ site.baseurl }}assets/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script type="text/javascript" src="{{ site.baseurl }}assets/js/main.js"></script>
